* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

header {
    background-color: red;
    height: 6vh;
}

.head {
    display: flex;
    padding: 0% 25% 0% 5%;
    align-items: center;
    height: 6vh;
}

html {
    background-color: rgb(10, 10, 10);
}

.logo-container, .nav-links, .cart, .commission   {
    display: flex;
}

.cart {
    position: absolute;
    right: 49%;
    top: 1  %;
}
.logo-container {
    flex: 1;
}

nav {
    flex: 2;
    font-size: 18px;
    font-weight: 800;
}

.nav-links {
    flex: 1;
    list-style: none;
    justify-content: space-around;
    align-items: flex-end;
}

.nav-link {
    text-decoration: none;
    color: purple;
}

.nav-link:hover {
    color: white;
}

.commission {
    display: flex;
}

main {
    color: red;
    font-size: 36px;
    text-align: center;
    margin-top: 2%;
}

h2:hover {
    color: purple;
}
.art-display {
    margin-top: 2%;
    display: grid;
    height: 150vh;
    width: 100%;
    background-color: red;
    grid-template-columns: repeat(auto-fit, minmax(50vh, 1fr));
    grid-gap: 4rem;
}
.art1, .art2, .art3, .art4, .art5, .art6 { filter: drop-shadow(5px 5px 5px black); align-self: end;}


.block {
    background-color: rgb(10, 10, 10);
    height: 10vh;
    width: 100vh;
}

footer {
    background-color: rgb(22, 22, 22);
    height: 25vh;
    border-top: 3px solid rgb(36, 36, 36);
    align-self: end;
}

.foot {
    position: absolute;
    left: 0 ; right: 0 ; bottom: 0;
}

.credits {
    text-align: right;
    display: inline-block;
}

.credits:hover {color: red;}

h2 {
    width: auto;
    display: inline-block;
}
.container {
    text-align: right;
}

img {
    max-width: 100%;
    height: auto;
}
.artist {
    margin-top: 1%;
    max-width: 100%;
    height: 100vh;
    text-align: left;
    margin-bottom: 1vh;
}

.about {
    display: flex;
}

i {
    width: 100vh;
    height: auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.tag {
    display: flex;
}

.contact {
    padding: 10px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.contact:hover {
    opacity: 0.7;
    color: white;
}

@media screen and (max-width: 1024px) {
    .head {padding: 0% 0% 0% 0%}
    .cart {position: absolute ; right: -9999px;}
    .logo-container{ flex: .5;}
}